# 2020: Week 5

In [1]:
# Setup
import pandas as pd

In [2]:
# Load data
df = pd.read_csv(".\\inputs\\PD 2020 Wk 5 Input.csv")

## Explore

In [3]:
print(df.shape)
print(df.head())

(105, 10)
      Team Result  For  Aga  Diff HTf HTa Opposition             Venue  \
0  England    won   35    8    27  22   0   v France  Parc des Princes
1  England    won   41   13    28  13  13   v France          Richmond
2  England    won   19    0    19   6   0   v France          Colombes
3  England    won   22    0    22  10   0   v France         Leicester
4  England    won   11    3     8   8   0   v France  Parc des Princes

        Date
0  22/3/1906
1   5/1/1907
2   1/1/1908
3  30/1/1909
4   3/3/1910

## Clean

In [69]:
# drop games with null scores at half time
df.loc[(df["HTf"]== '0') & (df["HTa"]=='0'), "filter"] = 1
df.loc[(df["HTf"]== '-') & (df["HTa"]=='-'), "filter"] = 1
df = df.loc[df["filter"] != 1].drop("filter", axis=1)

# Create rank column
df["rank"] = df["Diff"].rank(method='min', ascending=False)

In [93]:
# create crosstab
a = df.groupby(['Venue']).agg( {"rank" :["count", "min", "max", "mean"]})

#drop multilevel index
a.columns = a.columns.droplevel()

#prep dataframe for export
a = a.reset_index().rename(columns={"count": "Number of Games", 
                                   "min": "Best Rank (Standard Competition)",
                                   "max": "Worst Rank (Standard Competition)",
                                   "mean": "Avg. Rank (Standard Competition)"})

,Venue,Number of Games,Best Rank (Standard Competition),Worst Rank (Standard Competition),Avg. Rank (Standard Competition)
0,Auckland,1,86.0,86.0,86.00000
1,Colombes,21,7.0,102.0,61.52381
2,Leicester,1,9.0,9.0,9.00000
3,Marseille,2,65.0,94.0,79.50000
4,Parc des Princes,16,6.0,100.0,50.87500
5,Pretoria,1,93.0,93.0,93.00000
6,Richmond,1,5.0,5.0,5.00000
7,Stade de France,13,21.0,102.0,63.00000
8,Sydney,1,16.0,16.0,16.00000
9,Twickenham,46,1.0,90.0,42.23913

## Export

In [94]:
a.to_csv(".\\outputs\\20200 Week 5 Output.csv", index=False)